@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.skills-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.skills-text-div {
  width: 100%;
  flex: 1 1 auto;
}

.skills-image-div {
  flex: 0 1 40%;
  margin-right: 2rem;
  max-width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Make the animation container larger */
.skills-image-div > div {
  width: 100%;
  height: 100%; /* Make inner div fill the container height */
  max-width: 400px; /* Adjusted to accommodate height constraints */
  min-height: 260px; /* Set minimum height for the inner animation */
  max-height: 560px; /* Set maximum height for the inner animation */
  margin: 0 auto;
  object-fit: contain; /* Ensure animation maintains aspect ratio */
}

/* Rest of the styles remain the same */
.skills-heading {
  font-size: 60px;
  font-weight: 400;
}

.skills-text-subtitle {
  font-size: 24px;
  text-transform: uppercase;
}

.skills-text {
  font-size: 18px;
  line-height: 1.6;
}

.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 44px;
  }
  .skills-text-subtitle {
    font-size: 20px;
  }
  
  .skills-image-div {
    max-width: 40%;
  }
  
  .skills-image-div > div {
    max-width: 360px;
    max-height: 460px;
  }
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 32px;
    text-align: center;
  }
  .skills-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
  .skills-text-div {
    text-align: center;
    padding: 20px;
  }
  .skills-text {
    text-align: center;
    font-size: 17px;
  }
  .skills-main-div {
    flex-direction: column;
  }
  
  .skills-text-div {
    width: 100%;
  }
  
  .skills-image-div {
    max-width: 100%;
    margin-right: 0;
    padding: 0 20px;
  }
}