.not-found-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .not-found-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
      
      h1 {
        font-size: 6rem;
        margin-bottom: 1rem;
      }
      
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      
      p {
        margin-bottom: 2rem;
      }
      
      .home-button {
        padding: 0.8rem 1.5rem;
        background-color: #55198b;
        color: white;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s ease;
        
        &:hover {
          background-color: #6d27ae;
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }